<html>
<head>
<title>Raffle</title>
</head>
<body>
<div 
style="text-align:center;font-family:Arial;margin-top:20%;font-weight:bold;font-size:70px;">
And the winner is...
<span style="text-transform:capitalize;"><%= @quote.name  %></span>!
</div>
<br />
<br />
<br />
<br />
<br /><br />

 <input type="button" value="Get another winner!" 
onClick="window.location.reload()">
</body>
</html>
