body { background-color: #212258; color: #D1DACD; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

div.errorExplanation {
  color: black;
}

input#quote_student_id,
input#quote_name,
input#quote_email,
textarea#quote_content {
  border: 1px solid #212258;
  border-left: 4px solid #212258;
  background-color: #DBDBDB;
}

input#quote_submit {
  border: 2px solid #3A2C1E;
  background-color: #212258;
  color: #B9B9B9;
  padding-left: 25px;
  padding-right: 25px;
}

div.main {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 18px;
  padding-right: 18px;
  margin-left: 15px;
  background-color: #668359;
  float: left;
  width: 450px;
  border-style: solid;
  border-width: 4px;
  border-color: #3A2C1E;
}

div.noticebox {
  height: 15px;
  padding-top: 5;
  padding-bottom: 5;
  float: right;
}

div#notice {
  color: green;
  border-style: solid;
  border-color: green;
  border-width: 2px;
  width: 355px;
  text-align: center;
}

.list {
  padding-left:8px;
  padding-right:8px;
  border-width:1px;
  border-color:#A0A0A0;
  border-style:solid;
  background-color:#E0E0E0;
  width:45%;
  padding-bottom:5px;
  margin-left:1%
}

#name {
  padding-left:40px
}

#options {
  text-align:center;
  width:175px
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: #DF1D1D;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #7E0000;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

